*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Arial, sans-serif;
	background: url(../img/background.jpg) repeat-x;
}
.main{
	width: 1000px;
	margin: 0 auto;
	box-shadow: 0 0 10px 0 black;
	background: white;
	overflow: hidden;
	border-bottom: solid 3px black;
}
.header .logo{
	float: left;
	width: 283px;
	height: 164px;
	padding-top: 49px;
	padding-left: 30px;
}
.contacts{
	float:left;
	margin-left: 530px;
	margin-top: 45px;
	line-height: 18px;
	font-size: 12px;
	color: #128aa7;
}
.clearfix:after{
	content: '';
	display: table;
	clear: both;
}
.flag {
	margin-left: 640px;
	list-style: none;
}
.flag  li{
	float: left;
	font-size: 10px;
	text-align: center;
	padding-right: 13px;
	margin-top: 30px;
}
.flag a{
	display: block;
}
.photo{
	margin-bottom: 5px;
	height:235px;
}
.photo img{
	width:1000px;
	border-top: solid 1px #128aa7;
	border-bottom: solid 1px #128aa7;
}
.main-menu{
	border-bottom: 1px solid #000;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#373737+0,303030+100 */
	background: rgb(55,55,55); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,55,55,1)), color-stop(100%,rgba(48,48,48,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#303030',GradientType=0 ); /* IE6-9 */

	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.main-menu li{
	position: relative;
  	float: left;
  	list-style: none;
}
.main-menu li a{
	position: relative;
  	padding: 0 33px;
  	display: block;
  	line-height: 28px;
  	color: #fff;
  	text-decoration: none;
  	font-size: 14px;
}
.main-menu ul{
   	position: absolute;
  	left: 23px;
  	visibility: hidden;
  	top: 0;
  	opacity: 0;
  	transition: all 0.5s;
}
.main-menu ul+a:after{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 10px;
  height: 6px;
  width: 5px;
  background: url(../img/triangle.png) 0 0 no-repeat;
}
.main-menu li:hover ul{
	visibility: visible;
 	opacity: 1;
  	top: 100%;
}
.main-menu ul li{
	background: #303030;
}
.main-menu ul a{
  	padding: 0 10px;
}
.content{
	width: 210px;
	background: #edeef0;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	border-right: solid 2px #c7cacf;
	border-left: solid 2px #c7cacf;
	color: #424c43;
}
.sidebar{
	float: left;
}
.news{
	float: right;
}
.footer {
	margin: 0 auto;
	width:210px;
	color: white;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 10px;
}