*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Arial, sans-serif;
	background: url(../img/background.jpg) repeat-x;
}
.main{
	height: 1030px;
	width: 1000px;
	margin: 0 auto;
	box-shadow: 0 0 10px 0 black;
	background: white;
	overflow: hidden;
	border-bottom: solid 3px black;
}
.header{
	height: 213px;
	position: relative;
}
.header>img{
	padding-top: 49px;
	padding-left: 30px;
	float: left;
	margin-right: 310px;
}
.contacts{
	position: absolute;
	right: 30px;
	top: 45px;
	line-height: 18px;
	font-size: 12px;
	color: #128aa7;
}
.flag{
	display: inline-block;
	float: left;
	width:60px;	
	margin-top: 150px;
	line-height: 10px;
	text-align: center;
	font-size: 10px;
}
.photo{
	margin-bottom: 5px;
	height:235px;
}
.photo img{
	width:1000px;
	border-top: solid 1px #128aa7;
	border-bottom: solid 1px #128aa7;
}
.menu{
	position: relative;
}
.menu img{
	position: absolute;
	left: 275px;
	top: 12px;
}
.main-menu{
	width: 1000px;
	list-style: none;
	background: #333333;
	border-bottom: solid 1px black;
	box-shadow: 0 3px 5px -3px black;
}
.main-menu>li{
	position: relative;
	display: inline-block;
	height:22px;
	padding-top: 7px;
	padding-left: 63px;
	font-size: 14px;
}
.main-menu li a{
	display: block;
	color: white;
	text-decoration: none;
}
.main-menu .sub-menu {
    position: absolute;
    top: 30px;
    width: 150px;
    height: 125px;
    list-style: none;
    background: #333333;
   	left: 55px;
}
.main-menu .sub-menu a{
   padding-left: 9px;
   padding-top: 4px;
   padding-bottom: 4px;
}
.main-menu>li .sub-menu{
	display: none;
}
.main-menu>li:hover .sub-menu{
	display: block;
}
.main-menu .opened .sub-menu{
	display: block;
}
.content{
	width: 210px;
	background: #edeef0;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	border-right: solid 2px #c7cacf;
	border-left: solid 2px #c7cacf;
	margin-top: 2px;
}
.sidebar{
	float: left;
}
.news{
	float: right;
}
.footer{
	color: white;
	font-size: 12px;
	padding-left: 43%;
	margin-top: 5px;
	margin-bottom: 10px;
}

