*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: 'Lucida Sans Unicode Regular';
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot');
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff') format('woff'),
         url('../fonts/lucida_sans_unicode_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

} 
body{
	font-family: 'Lucida Sans Unicode Regular', Arial;
	font-size: 14px;
}
.wrapper{
	width: 909px;
	margin: 0 auto;
}
header{
	padding-top: 17px;
}
.tel{
	float: left;
	padding-left: 33px;
	padding-top: 5px;
	color: #5e696d;
	font-size: 18px;
	background: url(../img/telefon.png) no-repeat 7px 5px;
	font-family: Arial;
}
.login{
	float: left;
	width: 490px;
	height: 25px;
	background-image: linear-gradient(#1f6787, #0c3357);
	border-radius: 5px;
	box-shadow: 2px 3px 5px 0 #b4b4b4;
	margin-left: 26px;
	margin-bottom: 12px;
}
.login form{
	float: left;
	margin-left: 8px;
	font-size: 11px;
}
.login form .man{
	float: left;
	width: 14px;
	height: 18px;
	margin-top: 4px;
	margin-right: 4px;
	background: url(../img/man.png) no-repeat;
}
.login form input[type="text"], 
input[type="password"]{
	display: block;
	float: left;
	width: 110px;
	margin-right: 6px;
	margin-top: 3px;
	padding-left: 5px;
	border: none;
	font-size: 11px;
	line-height: 18px;
}
 .login a{
	display: block;
	float: left;
	margin-top: 8px;
	text-decoration: none;
	color: #ffffff;
	line-height: 10px;
	font-size: 10px;
}

 .login form input[type="submit"]{
	padding-right: 5px;
	margin-right: 4px;
	margin-top: 5px;
	border: none;
	background: none;
	border-right: solid 1px #c0cdd7;
	color: #ffffff;
}
 .login a:last-child{
	margin-left: 20px;
	color: #ffffff;
}
.login a:hover, input[type="submit"]:hover{
	text-decoration: underline;
	color: #bfbfbf;
}
.icons{
	float: right;
	margin-right: 8px;
	padding-left: 10px;
	border: 1px solid #c1c8cb;
	border-radius: 10px;
	box-shadow: 0 1px 2px 0 #c8cdd0;
}
.icons li{
  	float: left;
  	list-style: none;
}
.icons li a{
	display: block;
  	padding-right: 9px;
  	line-height: 19px;
  	text-decoration: none;
}
header nav{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#505860+0,3a4046+12,2d3236+13,010101+100 */
    background: rgb(80,88,96); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(80,88,96,1) 0%, rgba(58,64,70,1) 12%, rgba(45,50,54,1) 13%, rgba(1,1,1,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80,88,96,1)), color-stop(12%,rgba(58,64,70,1)), color-stop(13%,rgba(45,50,54,1)), color-stop(100%,rgba(1,1,1,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(80,88,96,1) 0%,rgba(58,64,70,1) 12%,rgba(45,50,54,1) 13%,rgba(1,1,1,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(80,88,96,1) 0%,rgba(58,64,70,1) 12%,rgba(45,50,54,1) 13%,rgba(1,1,1,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(80,88,96,1) 0%,rgba(58,64,70,1) 12%,rgba(45,50,54,1) 13%,rgba(1,1,1,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(80,88,96,1) 0%,rgba(58,64,70,1) 12%,rgba(45,50,54,1) 13%,rgba(1,1,1,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505860', endColorstr='#010101',GradientType=0 ); /* IE6-9 */
}
nav{
	height: 32px;
	border-radius: 5px;
	border: 1px solid #2d345b;
	box-shadow: 1px 2px 4px 0 #50525e;
}
nav ul{
	margin-right: 50px;
	float: right;
}
nav ul li{
  	float: left;
  	list-style: none;
}
nav li a{
	display: block;
	margin-top: 3px;
  	padding: 0 17px 0 15px;
  	line-height: 26px;
  	color: #b1bcc0;
  	text-decoration: none;
  	text-transform: uppercase;
}
nav li:hover a{
	color:white;
	border-radius: 15px;
	
	/*margin-top: 3px;*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f6787+0,1c5e7e+23,1b5a7b+23,0c3357+100 */
    background: rgb(31,103,135); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(31,103,135,1) 0%, rgba(28,94,126,1) 23%, rgba(27,90,123,1) 23%, rgba(12,51,87,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,103,135,1)), color-stop(23%,rgba(28,94,126,1)), color-stop(23%,rgba(27,90,123,1)), color-stop(100%,rgba(12,51,87,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(31,103,135,1) 0%,rgba(28,94,126,1) 23%,rgba(27,90,123,1) 23%,rgba(12,51,87,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(31,103,135,1) 0%,rgba(28,94,126,1) 23%,rgba(27,90,123,1) 23%,rgba(12,51,87,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(31,103,135,1) 0%,rgba(28,94,126,1) 23%,rgba(27,90,123,1) 23%,rgba(12,51,87,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(31,103,135,1) 0%,rgba(28,94,126,1) 23%,rgba(27,90,123,1) 23%,rgba(12,51,87,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0c3357',GradientType=0 ); /* IE6-9 */
}
nav .basket{
	float: right;
	margin-right: 20px;

}
nav .basket:before{
	content: '';
	display: block;
	position: relative;
	float: left;
	top: 6px;
	left: 0px;
	height: 17px;
	width: 21px;
	background: url(../img/basket.png) 0 0 no-repeat;
}
nav .basket a{
	display: block;
	float: left;
	margin-top: 5px;
}
nav .basket p{
	float: left;
	margin-left: 5px;
	margin-top: 2px;
	font-size: 11px;
	line-height: 26px;
}
nav .basket p:nth-child(2){
	margin-left: 0;
}
nav .basket p:nth-child(odd){
	color:#929b9f;
}
nav .basket p:nth-child(even){
	color:#0d5a8f;
}
.clearfix:after{
	content: '';
	display: table;
	clear: both;
}
						/*общие свойства для форм*/
main .search{
	height: 133px;
	float: left;
	margin-top: 12px;
	border: solid 1px #b8b8b9;
	border-radius: 15px;
	font-family: Arial;
	box-shadow: 3px 3px 5px 0 #999999;
}
main .search input[type="submit"]{
	float: right;
	color: #154467;
	font-style: italic;
	border: none;
	cursor: pointer;
	background: none;
	text-decoration: underline;
	font-size: 14px;
}
main .search fieldset{
	border: none;
}
main .search dt{
	font-size: 10px;
}
main .search span, p{
	color: #77858b;
	font-size: 8px;
}
main .search span{
	margin-left: 3px;
}
						/*форма 1*/
.form1{
	position: relative;
	width: 395px;
	margin-left: 6px;
	padding-left: 18px;
}
.form1 .title{
	position: absolute;
	left: 130px;
	top: 0;
	color: #154467;
	font-size: 12px;
	font-weight: bold;
}
.form1 dt, dd{
	display: inline-block;
}
.form1 input[type="submit"]{
	margin-right: 25px;
}
.form1 form .left1{
	float: left;
}
.form1 form .right1{
	float: left;
	margin-left: 28px;
}
.form1 .right1 legend+dl{
	margin-top: 11px;
}
.form1 select{
	width: 100px;
	margin-top: 5px;
}
.form1 .year select{
	width: 56px;
}
.form1 .right1 legend{
	float: right;
}
.form1 legend{
	color: #154468;
	font-weight: bold;
	font-size: 10px;
}
.form1 .marka{
	margin-left: 20px;
}
.form1 .model{
	margin-left: 25px;
}
.form1 .year{
	margin-left: 14px;
}
						/*форма 2*/
.form2{
	width: 178px;
	margin-left: 14px;
	padding-left: 12px;
}
.form2 legend{
	margin-bottom: 4px;
	color: #154467;
	font-size: 12px;
	font-weight: bold;
}
.form2 dd p{
	font-size: 12px;
	color: black;
}
.form2 .check dt, dd{
	vertical-align: top;
}
.form2 dt, dd{
	display: inline-block;
}
.form2 input[type="submit"]{
	margin-right: 15px;
	margin-top: -3px;
}
.form2 .size{
	width: 50px;
}
.form2 .r{
	width: 45px;
	margin-left: 3px;
}
.form2 dl{
	margin-top: 5px;
}
.form2 fieldset dl:nth-child(3){
	margin-left: 30px;
}
.form2 fieldset dl:nth-child(4) dd{
	margin-left: 10px;
}
							/*форма 3*/
.form3{
	width: 253px;
	margin-left: 10px;
	padding-left: 15px;
}
.form3 .left{
	float: left;
	margin-right: 14px;
}
.form3 .right{
	float: left;
	border-left: solid 1px #bdc6ca;
	padding-left: 10px;
}
.form3 .left dt, dd{
	display: inline-block;
}
.form3 legend{
	margin-bottom: 4px;
	color: #154467;
	font-size: 12px;
	font-weight: bold;
}
.form3 select{
	width: 55px;
}
.form3 .first{
	margin-left: 18px;
}
.form3 .second{
	width: 50px;
	margin-left: 31px;
}
.form3 .third{
	margin-left: 37px;
}
.form3 dt, dd{
	vertical-align: middle;
}
.form3 dl{
	margin-top: 3px;
}
.form3 .right dl{
	margin-top: 5px;
}
.form3 input[type="submit"]{
	margin-right: 20px;
	margin-top: 3px;
}
							/*стили для .container*/
main  .container .catalog{
	float: left;
	width: 184px;
	margin-top: 19px;
}
main .container .catalog>p{
	width: 152px;
	padding-left: 28px;
	text-transform: uppercase;
	line-height: 25px;
	font-size: 13px;
	color: #154467;
	border: solid 1px #8b979c;
	border-radius: 15px;
	background: url(../img/sheet.png) no-repeat 2px 1px;
	box-shadow: 1px 2px 4px 0 #bfbfbf;
}
main .container .catalog>ul{
	margin-top: 12px;
	list-style: none;
}
main .container .catalog li ul{
	margin-left: 50px;
	list-style: circle;
}
main .container .catalog>ul>li>a{
	display: block;
	width: 118px;
	padding-left: 30px;
	color: #114165;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 26px;
	border: solid 1px #8b979c;
	border-radius: 15px;
	background: url(../img/circle.png) no-repeat 4px 1px;
}
main .container .catalog li li a{
	display: block;
	text-decoration: none;
	color: #465961;
	font-size: 13px;
	line-height: 25px;
}
main .container .catalog li li a:hover{
	color: #0c3256;
	font-style: italic;
	font-size: 14px;
	text-decoration: underline;
}
main .container .content{
	width: 505px;
	height: 615px;
	padding-top: 12px;
	padding-left: 22px;
	margin-top: 16px;
	margin-left: 5px;
	float: left;
	background-image: linear-gradient(#e5e7e8, #93a7b0);
}
 main .container .content div{
	float: left;
	margin-right: 28px;
	margin-bottom: 18px;
	text-align: center;
 }
 main .container .content div a:first-child{
	text-decoration: none;
	color: #206988;
	font-size: 15px;
 }
  main .container .content div a:non(:first-child){
	display: block;
 }
   main .container .content div p{
	color: #1f2528;
	font-size: 13px;
	line-height: 15px;
 }
  main .container .content div .price{
	color: #114165;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	font-family: Arial;
 }
 main .container .content div .price span{
	font-size: 12px;
	padding-left: 4px;
 }
 main .container .brand{
 	width: 181px;
 	float: left;
 	margin-top: 17px;
 	margin-left: 9px;
 }
 main .container .brand a{
	display: block;
	width: 104px;
	padding-left: 30px;
	margin-bottom: 7px;
	margin-left: 16px;
	color: #114165;
	text-decoration: none;
	line-height: 26px;
	text-transform: uppercase;
	border: solid 1px #8b979c;
	border-radius: 12px;
	background: url(../img/circle.png) no-repeat 4px 1px;
 }
 main .container .brand p{
 	width: 152px;
	padding-left: 28px;
	margin-bottom: 14px;
 	text-transform: uppercase;
	color: #154467;
	font-size: 13px;
	line-height: 25px;
	border: solid 1px #8b979c;
	border-radius: 15px;
	background: url(../img/sheet.png) no-repeat 2px 1px;
	box-shadow: 1px 2px 4px 0 #bfbfbf;
 }
 main .container .brand label{
	display: block;
	margin-bottom: 11px;
	margin-left: 26px;
	font-size: 13px;
 }
 main .container .brand label input[type="checkbox"]{
	margin-right: 9px;
 }
 main .container .brand input[type="submit"]{
 	margin-top: 9px;
 	margin-left: 23px;
 	width: 80px;
 	height: 25px;
 	color: white;
 	text-transform: uppercase;
 	font-size: 11px;
 	border-radius: 10px;
 	border: none;
 	box-shadow: 1px 2px 4px 0 #bfbfbf;
 	cursor: pointer;
 	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f6787+0,1c5e7e+23,1b5a7b+23,0c3357+100 */
    background: rgb(31,103,135); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(31,103,135,1) 0%, rgba(28,94,126,1) 23%, rgba(27,90,123,1) 23%, rgba(12,51,87,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,103,135,1)), color-stop(23%,rgba(28,94,126,1)), color-stop(23%,rgba(27,90,123,1)), color-stop(100%,rgba(12,51,87,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(31,103,135,1) 0%,rgba(28,94,126,1) 23%,rgba(27,90,123,1) 23%,rgba(12,51,87,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(31,103,135,1) 0%,rgba(28,94,126,1) 23%,rgba(27,90,123,1) 23%,rgba(12,51,87,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(31,103,135,1) 0%,rgba(28,94,126,1) 23%,rgba(27,90,123,1) 23%,rgba(12,51,87,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(31,103,135,1) 0%,rgba(28,94,126,1) 23%,rgba(27,90,123,1) 23%,rgba(12,51,87,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6787', endColorstr='#0c3357',GradientType=0 ); /* IE6-9 */
 }
 main .logos{
 	width: 689px;
	margin: 40px auto 18px;
 }
 main .logos ul li{
 	float: left;
 	margin-right: 13px;
 	list-style: none;
 }
 main .logos ul li a{
 	display: block;
 }
 footer{
 	height: 88px;
 	padding-top: 12px;
 	background: #213a4d;
 	border: solid 1px #242a3c;
 	font-family: Arial;
 }
 footer ul{
 	width: 320px;
	margin: 0 auto;
 }
  footer ul li{
 	float: left;
 	margin-left: 12px;
 	padding-right: 12px;
 	list-style: none;
 }
 footer ul li:not(:last-child){
 	border-right: solid 2px #bec6c9;
 }
  footer ul li a{
  	font-size: 12px;
 	color: white;
 	display: block;
 	text-decoration: none;
 }
 footer ul li a:hover{
 	color: #52abcb;
 }
 footer p{
 	color: #7f4740;
 	font-size: 10px;
 	text-align: center;
 	margin-top: 14px;
 }
